// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.equipments-sect,
.solutions-sect {
  &__title {}
}

.equipments,
.solutions {
  &__link {
    width: 298px;
    &:last-child:nth-child(5) {
     margin-left: 25px;
    }
  }
}

.equipment,
.solution {
  width: 298px;
  &:nth-last-child(3) {
  }
  &__title {
    // max-width: 220px;
    max-width: 205px;
    font-size: 20px;
    line-height: 140%;
  }

  &__img {
    // width: auto;
    // max-height: 130px;
    right: -3px;
    width: 170px;
    height: 130px;
  }

  &__count {
    display: block;
  }
}