// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

// Часть стилей в header.scss (hdr__search-form)

.search {
  &-form {
    padding: 0 0 2px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey;
    position: relative;

    &.show-list {
      >.search-result {
        opacity: 1;
        visibility: visible;

        &::before {
          content: 'Начните ввод';
          display: block;
          margin-top: 10px;
        }
      }
    }

    &.show-results {
      >.search-result {
        &::before {
          content: '';
        }
      }
    }

    &.searching {
      > .search-icon {
        animation: searching 1s linear infinite;
        transition: transform .5s;
      }
      >.search-result {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &-icon {}

  &-inp {
    width: 100%;
    padding: 0 0 0 5px;
    background: 0 0;
    border: 0;
    transition: width .5s;
    &::placeholder {
      font: inherit;
      color: $lightgrey;
      opacity: 0.5;
    }
  }
}

.search-result {
  padding: 0 5px;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  min-height: 75px;
  $top_margin: 32px + 62px + 15px; // Высота инпута, высота и отступ логотипа, padding-top меню
  max-height: calc(100vh - #{$top_margin});
  overflow-x: hidden;
  overflow-y: auto;
  font: 14px/140% Montserrat;
  background: $white;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
  }

  &__item {}

  &__not-found {}
}

.result-item {
  padding: 20px 0;
  display: block; 
  &:nth-last-child(n+2) {
    border-bottom: 1px solid $lightgrey;
  }

  &__img {
    display: none;
  }

  &__text {}

  &__title {
    font-weight: 600;
    color: $blue;
  }

  &__descr {
    margin: 10px 0;
    font-size: 12px;
    line-height: 140%;
    color: $grey;
  }

  &__type {
    font-size: 12px;
    line-height: 100%;
    color: $grey;
  }

  // &__link {
  //   font-weight: bold;
  //   line-height: 100%;
  //   color: $blue;
  // }
}