// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.product-props {
  font: 16px/140% Montserrat;
  color: $black;

  a:not([class]) {
    color: $blue;
    text-decoration: underline;
    transition: text-decoration-color .5s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  p:not([class]) {
    display: inline;
  }

  &__videos {
    margin: 40px auto 0;
    &.slick-slider {
      display: flex;
      flex-flow: column;
      .product-videos__nav {
        order: 10;
        display: flex;
      }
    }
    iframe {
      width: 100%;
      max-width: 100%;
      height: responsive('320->575', '150->300');
    }
    .slick-list {
      overflow: hidden;
    }

    .product-videos__nav {
      margin: 20px 0 0;
      display: none;
      align-items: center;
      justify-content: center;
    }

    .product-videos__prev {
      margin: 0 50px 0 0;
    }
  }

  &__important {}

  &__important-start {
    color: $red;
    font: bold 18px/100% Montserrat;
  }

  &__important-text {
    display: inline;
  }

  &__note {}

  &__note-start {
    color: $blue;
    font: bold 18px/100% Montserrat;
  }

  &__note-text {
    display: inline;
  }

  &__docs {
    padding: 40px 0 20px;
  }

  &__table-block {
    padding: 40px 0;
  }

  &__table-wrap {
    max-width: 100%;
    overflow: auto;
  }

  &__table {}

  &__functions-and-schemes {
    padding: 40px 0;
  }

  &__functions {
    +.product-props__schemes {
      margin-top: 55px;
    }
  }

  &__schemes {
    text-align: center;
    font-weight: bold;

    &.slick-slider {
      display: flex;
      flex-flow: column;

      >#product-schemes__arrows {
        margin: 25px auto 0;
        display: flex;
        order: 10;
      }
    }

    >.slick-list {
      overflow: hidden;

      >.slick-track {
        align-items: flex-start;

        >.product-scheme {
          &:nth-last-child(n+2) {
            margin-right: 20px;
          }
        }
      }
    }
  }

  &__scheme {}
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  font: 500 15px/140% Montserrat;

  &__title {
    margin: 0 0 30px;
    display: block;
    font: bold 18px/140% Montserrat;
  }

  &__hdr {}

  &__tr {}

  &__th {
    padding: 0 10px;
    font: 600 14px/140% Montserrat;
    text-align: left;
    color: $grey;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__body {}

  &__td {
    padding: 10px;
    border-bottom: 1px solid $lightgrey;

    &:first-child {
      padding-left: 0;
      max-width: 200px;
      min-width: 200px;
      font-weight: normal;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.solution-props {
  padding: 40px 0;
  &__title {
    color: $red;
  }

  >.product__p {

    +.product__ul,
    +.product__ol {}
  }
}

.solution-descr {
  padding: 40px 0;
  &__title {
    margin: 0 0 30px;
    display: block;
    font: bold 18px/100% Montserrat;
  }

  >.product__p,
  >.product__ol,
  >.product__ul {
    // margin: 0 0 30px;

    &:last-child {
      // margin: 0;
    }
  }

  >.product__p {

    +.product__ol,
    +.product__ul {
      // margin-top: -15px;
    }
  }
}

.solution-equipments {
  padding: 40px 0;

  &__title-block {
    margin: 0 0 20px;
    font: bold 22px/100% Montserrat;
    color: $red;
  }

  &__title {}

  &__slider {
    max-width: 400px;

    >.slick-list {
      overflow: hidden;

      >.slick-track {
        padding: 2px;
        align-items: flex-start;
      }
    }

    &.slick-slider {
      display: flex;
      flex-flow: column;

      >.solution-equipments__nav {
        display: flex;
      }
    }
  }

  &__nav {
    margin: 20px 0 0 0;
    order: 10;
    width: 100%;
    justify-content: center;
    display: none;
  }

  &__prev,
  &__next {
    padding: 10px;
    fill: $black;
  }

  &__prev {
    margin-left: -10px;
  }

  &__next {
    margin: 0 -10px 0 30px;
  }

  &__product {

    // Регулируем высоту и ширину с помощью font-size
    // font-size: 280px;
    // margin: 0 0 40px;
    // width: 1em;
    &:nth-last-child(n+2) {
      margin: 0 20px 0 0;
    }

    >.product__img {
      // width: 1em;
      // height: 1em;
      // color: rgba(0,0,0,0);
    }

    >.product__title {}

    >.product__descr {}

    >.product__link {}
  }
}

.solution-props__title,
.product-docs__title,
.product-functions__title {
  margin: 0 0 20px;
  display: block;
  font: bold 18px/140% Montserrat;
}

.solution-schemes {
  padding: 40px 0;
  &__title-block {
    margin: 0 0 20px;
    display: block;
    font: bold 18px/100% Montserrat;
  }
  &__text {}
  &__schemes {
    margin-top: 50px;
    display: flex;
    > .slick-list {
      overflow: hidden;
      > .slick-track {
        align-items: flex-start;
      }
    }
    &.slick-slider {
      flex-flow: column;
      > .solution-schemes__nav {
        margin-top: 25px;
        order: 10;
        display: flex;
        justify-content: center;
      }
    }
  }

  &__scheme {
    padding: 1px;
    outline-offset: -1px;
  }

  &__nav {
    display: none;
  }
  &__prev,
  &__next {
    padding: 10px;
    fill: $black;
  }
  &__prev {
    margin-left: -10px;
  }
  &__next {
    margin: 0 -10px 0 30px;
  }
}

.solution-scheme {
  max-height: 420px;
  display: flex;
  &__fig {
    width: 100%;
    max-height: 420px;
    text-align: center;
  }
  &__img {
    max-height: 370px;
  }
  &__title {
    margin-top: 25px;
  }
}

.product-docs {
  &__text {
    margin: 0 0 20px;
  }

  &__title {}

  &__descr {}

  &__files {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    font-size: 14px;

    .doc {
      display: inline-flex;
      align-items: flex-start;
    }

    .doc-wrap {
      margin: 0 0 35px;
    }

    .doc__img {
      margin-left: 15px;
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      object-fit: contain;
      transition: filter .5s;
    }

    .doc__text {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
    }

    .doc__title {
      text-decoration: underline transparent;
      transition: text-decoration-color .5s;
    }

    .doc__size {
      margin-top: 5px;
      font-size: 12px;
      line-height: 100%;
      color: $grey;
    }
  }
}


.product-schemes {

  &__prev,
  &__next {
    padding: 15px;
    fill: $black;
  }

  &__next {
    margin-left: 20px;
  }
}

.product-scheme {
  display: block;

  &__fig {
    max-width: 100%;
  }

  &__img {
    max-height: 450px;
  }

  &__title {
    font-weight: normal;
    font-size: 12px;
    margin-top: 15px;
  }
}

#product-schemes__arrows {
  display: none;
}