// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts-sect {}

.contacts {

  &__title {}

  &__contact {
    &_tel {}

    &_email {}

    &_address {}
  }
}

.contacts-form-wrap {}

.contacts-form {
  display: flex;
  flex-wrap: wrap;
  &__title {
    font-size: 32px;
  }

  &__descr {}

  &__field {}

  &__field_name {}

  &__field_name,
  &__field_email {
    margin-right: auto;
  }

  &__field_tel {
    margin-top: 35px;
  }

  &__field_name,
  &__field_tel,
  &__field_email,
  &__field_msg {
    width: 334px;
  }

  &__field_email {}

  &__field_msg {}

  &__bottom {
    margin: 30px 0 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  &__check {
    max-width: 330px;
  }

  &__btn {
    margin: 0 0 0 auto;
    width: 260px;
  }
}