// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.map-sect {
  position: relative;

  &__title {}

  &__descr {
    margin: 0 0 150px;
    width: 386px;
  }

  &__list {
    column-count: auto;
    font-size: 16px;
  }

  &__li {}

  &__link {}
}

.address-map {
  margin: 0;
  position: absolute;
  right: -300px;
  bottom: 120px;

  &__img {
    width: responsive('1024->1440', '940->1200');
    height: responsive('1024->1440', '500->580');
  }

  &__city {

    &#spb {
      top: responsive('1024->1440', '115->120');
      left: responsive('1024->1440', '150->195');
    }

    &#msk {
      top: responsive('1024->1440', '190->215');
      left: responsive('1024->1440', '130->165');
    }

    &#voronez {
      top: responsive('1024->1440', '240->280');
      left: responsive('1024->1440', '95->120');
    }

    &#kazan {
      top: responsive('1024->1440', '260->305');
      left: responsive('1024->1440', '190->245');
    }

    &#perm {
      top: responsive('1024->1440', '260->305');
      left: responsive('1024->1440', '240->305');
    }

    &#ekb {
      top: responsive('1024->1440', '285->335');
      left: responsive('1024->1440', '270->345');
    }

    &#tmn {
      top: responsive('1024->1440', '305->365');
      left: responsive('1024->1440', '285->370');
    }

    &#novosib {
      top: responsive('1024->1440', '375->450');
      left: responsive('1024->1440', '385->495');
    }

    &#krasnoyarsk {
      top: responsive('1024->1440', '375->450');
      left: responsive('1024->1440', '455->580');
    }

    &#irkutsk {
      top: responsive('1024->1440', '420->510');
      left: responsive('1024->1440', '540->690');
    }

    &#kaliningrad {
      top: responsive('1024->1440', '110->115');
      left: responsive('1024->1440', '25->35');
    }
  }

  &__i {
    transform: scale(0.7);
  }
}