// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

/* Описание .search-inp частично в interface.scss */

/* Описание .tel частично в interface.scss */

.hdr {
  &.fixed {
    > .menu {
      right: calc(50% - 600px);
    }
  }
  &__top {}

  &__logo {}

  &__logo-img {
    width: 140px;
    height: 42px;
  }

  &__bottom {
    height: 71px; // 70px + 1px border
  }

  &__nav {

    &-list {}

    &-li {
      &:nth-child(n+5) {
        display: block;
      }

      &.has-submenu {
        display: flex;
        align-items: center;
        position: relative;

        &::after {
          margin-left: 5px;
          content: '';
          width: 9px;
          height: 6px;
          background: url('../img/icon-caret.svg') center/contain no-repeat;
          transition: transform .25s .5s;
        }

        >.sub-menu {
          min-width: 129%;
          position: absolute;
          left: 50%;
          top: calc(100% + 27px);
          transform: translateX(-50%);
          background: $white;
          white-space: nowrap;
          opacity: 0;
          visibility: hidden;
          transition: opacity .25s .5s, visibility .25s .5s;
          box-shadow: 0px 5px 10px rgba(97, 97, 97, 0.1);
          > .hdr__nav-li {
            >.nav__link {
              display: inline-block;
              width: 100%;
            }
            &.current {
              pointer-events: none;
              > .nav__link {
                border-bottom-color: $lightgrey !important;
              }
            }
          }
        }
      }
    }
  }

  &__tel {
    &::before {}
  }

  &__search-form {
    &.show-list {
      width: 590px;
    }
  }



  &__burger {
    display: none;
  }

  &__burger-box {}

  &__burger-inner {}
}

.sub-menu {
  >.hdr__nav-li {
    >.nav__link {
      padding: 15px 30px 15px 17px;
      transition: background .5s, color .5s;
    }
  }
}

.hdr__top,
.hdr__bottom,
.hdr__nav-list {}