// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts-delivery {
  padding-top: 30px;
  padding-bottom: 30px;
  font: 16px/140% Montserrat;
  color: $black;
  &__title {
    margin: 0 0 15px;
    font: bold 24px/140% Montserrat;
  }
  &__descr {
    margin: 0 0 20px;
  }
}
.container {
}
