// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.partners-sect {
  padding-top: 80px;
  padding-bottom: 100px;
  &__title {
    margin: 0 0 100px;
  }

  &__city {}
}

.partner {
  &__city {}

  &__block {
    &:nth-last-child(n+2) {
      margin: 0 0 100px;
    }
  }

  &__title {
    padding-right: 950px;
  }

  &__descr {
    &:nth-last-child(n+2) {}
  }
}